@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStd-Bold.ttf');
}
body, html {
  padding: 0;
  margin: 0;
  font-family: 'Circular';
  height: 100%;
}
/* Start of Login Web */
.bg-web-img-login {
	width: 100%;
     height: 100%;
     background: url('../images/login_bg.jpg');
     background-size: cover;
     background-color: rgba(0, 0, 0, 0.5);
     float:left;
}
.darken-overlay div {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 100%, rgba(213, 57, 49, 0.8) 10%);
}
/* Add styles to the form container */
.container_login_web_form {
	position: fixed;
	right: 300px;
	margin: auto;
	padding: 15px;
	background-color: #FAFAFA;
	height: 100%;
	padding-top: 80px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  font-size:20px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #757575;
  font-size:20px;
}
/* Set a style for the submit button */
.btn_web_login_submit {
	background-color: #D53931;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 40%;
	font-size: 1.5em;
	border-radius: 10px;
	width: 60%;
	height: 5%;
}

.btn_web_login_submit:hover {
  opacity: 0.9;
}
.login_title_here{
	color: #D53931;
	font-size: 2em;
}
/* For placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #757575;
    font-size: 25px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #757575;
    font-size: 25px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #757575;
    font-size: 25px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #757575;
    font-size: 25px;
}
.login_title_size{
	width: 85%;
	margin-left: -50px;
}
.login_footer{
	width: 30%;
	position: fixed;
	bottom: 0;
	color: #000000;
	font-size: 15px;
	bottom: 0;
}
/* End of Login Web */
